<div class="portfolio">
 
  <div class="portfolio-header">
    <div class="portfolio-header-sections">
      <div class="portfolio-header-sections-item">HOME</div>
      <div class="portfolio-header-sections-item">ABOUT</div>
      <div class="portfolio-header-sections-item">RESUME</div>
      <div class="portfolio-header-sections-item">WORKS</div>
      <div class="portfolio-header-sections-item">CONTACTS</div>
    </div>
  </div>

  <div class="portfolio-home">
    <div class="portfolio-home-header">
      I'm Ghulam Haidar
    </div>
    <div class="portfolio-home-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptatum rerum impedit doloribus dolores in sint a. Necessitatibus sit id eaque aliquid aspernatur aut? Aliquid veniam laborum cumque deserunt! Magni!
    </div>
  </div>

  <div class="portfolio-about">
    this is about section
  </div>

</div>
